ul {
  display: flex;
  justify-content: center;
    align-items: center;
}

li {
  list-style: none;
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

button {
  padding: 0.7em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f4f4f4;
}

.active {
  text-decoration: underline;
}
